/* TodoItem.css */

.todo-item {
   display: flex;
   align-items: center;
   justify-content: center;
   /* Выравнивание по центру */
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   margin-bottom: 5px;
}

.todo-item.complete {
   background-color: #f0f0f0;
}

.title {
   flex-grow: 1;
   margin-left: 10px;
}

.remove-button {
   border: none;
   background-color: #ff4d4d;
   color: white;
   border-radius: 4px;
   cursor: pointer;
   padding: 5px 15px;
   /* Увеличенные отступы */
   margin-left: 10px;
}